@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
:root {
  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --very-pale-orange: hsl(33, 100%, 98%);
  --soft-red: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);
}

* {
  font-size: 18px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: var(--cream);
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

body > .upper {
  width: 20rem;
  height: 5rem;
  background-color: var(--soft-red);
  padding: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10rem;
  color: white;
  border-radius: 1rem;
}

body > .upper > .flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3rem;
}

body > .upper > .flex-column > .balance {
  font-size: 0.65rem;
}

body > .upper > .flex-column > .balance-score {
  font-size: 1.2rem;
}

body > .upper > .logo {
  width: 3rem;
}

body > .lower {
  width: 20rem;
  height: 20rem;
  background-color: white;
  border-radius: 1rem;
  padding: 1.3rem;
}

body > .lower > .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--medium-brown);
  padding-bottom: 1rem;
  gap: 0.8rem;
  padding-top: 1.5rem;
  border-bottom: 1px solid var(--medium-brown);
}

body > .lower > .data > .flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

body > .lower > .data > .flex-column > .amount {
  background-color: black;
  width: 2.4rem;
  height: 1.3rem;
  display: none;
}

body > .lower > .data > .flex-column > .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--soft-red);
  border-radius: 0.5rem;
  cursor: pointer;
}

body > .lower > .data > .flex-column .day {
  text-align: center;
}

body > .lower > .data > .days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9rem;
  text-align: center;
}

body > .lower > .lower-first > .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body > .lower > .lower-first > h1 {
  margin-bottom: 1rem;
}

body > .lower > .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7rem;
}

body > .lower > .flex > .column-left {
  padding-top: 1rem;
}

body > .lower > .flex > .column-left > .brown {
  font-size: 0.8rem;
  padding-bottom: 0.3rem;
}

body > .lower > .flex > .column-left > h2 {
  font-size: 1.7rem;
}

body > .lower > .flex > .column-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

body > .lower > .flex > .column-right > p {
  font-size: 0.5rem;
}

body > footer {
  position: absolute;
  bottom: 0;
  left: 52%;
  -webkit-transform: translate(-52%, 0);
          transform: translate(-52%, 0);
}

body > footer > .attribution {
  font-size: 11px;
  text-align: center;
}

body > footer > .attribution a {
  font-size: 11px;
  color: #3e52a3;
}

.brown {
  color: var(--medium-brown);
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1.8rem;
  background-color: var(--soft-red);
  border-radius: 0.5rem;
  cursor: pointer;
}

.days > * {
  width: 3rem;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.column:hover {
  opacity: 0.8;
}

.column-mon {
  height: 2rem;
}

.column-tue {
  height: 4rem;
}

.column-wed {
  height: 5.5rem;
  background-color: var(--cyan);
}

.column-thu {
  height: 3.5rem;
}

.column-fri {
  height: 3.2rem;
}

.column-sat {
  height: 3.8rem;
}

.column-sun {
  height: 3.3rem;
}

.day {
  font-size: 0.7rem;
}

.column:hover + .amount {
  display: inline;
}
/*# sourceMappingURL=style.css.map */